@use './src/styles/_variables';

.header {
  padding: 0 var(--gutter);
  opacity: 0;

  &__title {
    color: var(--highlight);
    font-size: 1rem;
    font-family: var(--font-title);
    margin: 0;
  }

  .is-ready & { animation: fadein 0.75s forwards; } 

  @media (min-width: variables.$sm) {
    padding: 0;
  }
}